{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Bumper Chile</title>
    <link rel="stylesheet" type="text/css" href="/static/base.css">
{%  block styles %}
{% endblock %}
{% block script %}
{% endblock %}
</head>
<body>
<nav>
    <a href="{% url 'indexbumper' %}"><div class="logo-bumper"></div></a>
    <div class="menu">
       <a href="/categoria/BIKE"><div class="nav-button">Bikes</div></a>
     <a href="/categoria/ROWER"><div class="nav-button">Rowers</div></a>
     <a href="/categoria/TREADMILL"><div class="nav-button">Treadmill</div></a>
    </div>
    <div class="cart nav-button">CART</div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>