{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Bumper Chile</title>
    <link rel="stylesheet" type="text/css" href="/static/base.css">
{%  block styles %}
{% endblock %}
{% block script %}
{% endblock %}
</head>
<body>
<nav>
    <a href="{% url 'indexbumper' %}"><div class="logo-bumper"></div></a>
    <div class="menu">
        <div class="nav-button"><a href="/categoria/BIKE">Bikes</a></div>
        <div class="nav-button"><a href="/categoria/ROWER">Rowers</a></div>
       <div class="nav-button"><a href="/categoria/TREADMILL">Treadmill</a></div>
    </div>
    <div class="cart nav-button">CART</div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>