{% extends 'base.html' %}
{%  load static %}
{% block title %}
    {{ category }}
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/item.css">
    <link rel="stylesheet" type="text/css" href="/static/categories.css">
{% endblock %}
{% block script %}
    <script src="/static/item.js"></script>
{% endblock %}
{% block body %}
    <div class="container">
    {% for element, pictures in elements %}
        <div class="item-container">
            <div class="title-detail">{{ element.name }}</div>
            <div class="description-detail">{{ element.description }}</div>
            <div class="price-detail">${{ element.price }}</div>
            <div class="carousel">
            <div class="carousel-track-container">
            <ul class="carousel-track">
                {% for picture in pictures %}
                    <li class="carousel-slide">
                    <div id="prev-btn" class="prev-click-div" onclick="prevImage()"></div>
                    <img class="image-detail" src="/media/{{ picture.image }}" alt="{{ picture.product.name }}">
                    <div id="next-btn" class="next-click-div" onclick="nextImage()"></div>
                    </li>
                {% endfor %}
            </ul>
            </div>
            </div>
            <button class="button-detail">Comprar</button>
        </div>
    {% endfor %}
    </div>
{% endblock %}
