{% extends 'base.html' %}
{%  load static %}
{% block title %}
Inicio
{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <link rel="stylesheet" type="text/css" href="/static/item.css">
{% endblock %}
{% block script %}
{% endblock %}
{% block body %}

    <div id="notice-container">
    <div class="inner-notice-container">
        <h2 id="notice-title">{{ last_notice.title_notice }}</h2>
        <p id="notice-content">{{ last_notice.message_notice }}</p>
    <button type="button" class="notice-close">Cerrar</button>
    </div>
    </div>
    <div class="spacer rower-bg"></div>
    <div class="content">
    <h2>Novedades</h2>
{#       todo: hacer un for loop y que por cada item de coloque en el index#}
        <div class="item-container">
            <div class="title-detail">{{ last.name }}</div>
            <div class="description-detail">{{ last.description }}</div>
            <div class="price-detail">${{ last.price }}</div>
            <img class="image-detail--index" src="/media/{{ last_picture.image }}" alt="{{ last_picture.product.name }}">
            <button class="button-detail">Comprar</button>
        </div>
    </div>
    <div class="spacer bike-bg">NO EXCUSES, JUST IMPROVE</div>
    <div class="content content-grid">
{#        <a href="/categoria/ROWER"><div class="small-content small-content-rower">Rowers</div></a>#}
        <a href="/categoria/ROWER">
            <div class="small-content small-content-rower"><span class="title-small-content">Rowers</span></div></a>
        <a href="/categoria/BIKE">
            <div class="small-content small-content-bike"><span class="title-small-content">Bikes</span></div></a>
        <a href="/categoria/TREADMILL">
            <div class="small-content small-content-plates"><span class="title-small-content">Plates</span></div></a>
        <a href="/categoria/BUMPER">
            <div class="small-content small-content-barbell"><span class="title-small-content">Barbells</span></div></a>
    </div>
    <div class="contact">
        <h1 class="contact-title">Contactanos</h1>
        <div class="field neonText">
            <div class="h4">TELEFONO</div>
            <h4>CORREO</h4>
        </div>
        <div class="form-field neonText">
        <h4>XXX-XXX-XXXX</h4>
            <h4>contacto@getbumper.today</h4>
        </div>

    </div>

    <script src="../static/main.js"></script>
{% endblock %}