* {
    margin: 0;
    padding: 0;
}
body {
    /*width: 90vw;*/
    background-color: black;
    min-height: 100vh;
    min-width: 100vw;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 3rem;
    align-items: center;
    font-family: Stencil Std, fantasy;
    /*font-size: 2rem;*/
    text-transform: uppercase;
    flex-wrap: wrap;
    position: fixed;
    z-index: 99;
    top: 0;
}
a {
    text-decoration: none;
}
.nav-button {
    color: white;
    padding: 0.5rem 1rem;
    /*background-color: black;*/
    border: 1px solid black;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}
/*.nav-button:hover {*/
/*    border: 1px solid white;*/
/*}*/

.menu {
    display: flex;
    justify-content: space-between;
}
.logo-bumper {
    background-image: url('../static/images/bumper-cropped.jpeg');
    background-size: cover;
    top: 0;
    left: 0;
    height: 2rem;
    width: 8.4rem;
    border-radius: 5%;
}
@media screen and (min-width: 590px) {
    /*457*/
    nav {
        height: 3rem;
        background-color: black;
    }
    .nav-button:hover {
        border: 1px solid white;
    }
}
@media screen and (max-width: 590px) {
    nav {
        height: 6rem;
        background-color: black;
    }
}
@media screen and (max-width: 457px) {
    nav {
        height: 4rem;
        background-color: rgba(0, 0, 0, .7);
    }
    .nav-button {
        font-size: 0.5rem;
        padding: 0.25rem 0.5rem;
    }
    .nav-button:hover {
        border: 1px solid white;
        background-color: black;
    }
}
@media screen and (max-width: 260px) {
    nav {
        height: 6rem;
        background-color: rgba(0, 0, 0, .7);
    }
    .nav-button {
        font-size: 0.4rem;
        padding: 0.25rem 0.5rem;
    }
    .nav-button:hover {
        border: 1px solid white;
        background-color: black;
    }
}
.freezer {
    display: block;
    height: 100vh;
    width: 100vw;
    position: fixed !important;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30px;
    position: fixed;
    bottom: 0;
    background-color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}