.container {
    /*margin-top: 20vh;*/
    background-color: black;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-content: center;*/
    align-items: center;
}
@media screen and (min-width: 590px) {
    .container {
        padding: 5rem 2rem;
    }
}
@media screen and (max-width: 590px) {
}
@media screen and (max-width: 457px) {
    .container {
        padding-top: 9rem;
    }
}
