.spacer {
    height: 30vh;
}
.contact {
    background: url(../static/images/contact.png) center top;
    background-size: cover;
}
.content {
    display: flex;
    flex-direction: column;
    /*display: grid;*/
    min-height: 30vh;
    background-color: black;
    color: white;
    padding: 3rem;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.rower-bg {
    background: url(../static/images/rower-pedals.jpg) fixed center;
    background-size: cover;
}
.bike-bg {
    background: url(../static/images/rower-bw.jpg) fixed center bottom;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

/*notice styling*/
#notice-container {
    /*display: flex;*/
    display: none;
    background: transparent;
    min-height: 100%;
    min-width: 100%;
    /*position: absolute;*/
    z-index: 999;
    /*font-size: 7rem;*/
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.inner-notice-container {
    background: white;
    min-height: 10vh;
    min-width: 10vw;
    max-width: 50vw;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}
.notice-close{
    padding: 0.5rem 1rem;
    background: transparent;
    border-radius: 10px;
    width: 5rem;
    margin-top: 2rem;
}
.inner-notice-container > p {
    height: 80%;
}

/*small content style.*/
.content-grid {
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw;
    grid-gap: 5vw;
}
.small-content {
    border: 1px solid white;
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .3));
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
    height: 15vw;
    width: 15vw;
}
.small-content:hover {
    color: white;
}
.content a{
    font-family: Arial Narrow, sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: white;
}
.small-content-barbell:hover {
    background: url('../static/images/smallcontentbarbellbg.jpg') no-repeat center;
    /*background-size: contain;*/
    background-size: 18vw;
    transition: all 0.3s ease-in-out;
}
.small-content-barbell {
    background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .1)), url('../static/images/smallcontentbarbellbg.jpg') no-repeat bottom center;
    background-size: contain;
}
.small-content-bike:hover {
    background: url('../static/images/ergbike.jpg') no-repeat center;
    /*background-size: contain;*/
    background-size: 18vw;
    transition: all 0.3s ease-in-out;
}
.small-content-bike {
    /*background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5)), url('../static/images/smallcontentbarbellbg.jpg');*/

    background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .1)), url('../static/images/ergbike.jpg') no-repeat bottom center;
    background-size: cover;
}
.small-content-plates:hover {
    /*transform: scale(1.5);*/
    width: 15vw;
    height: 15vw;
    background: url('../static/images/colorbumpers.jpeg') no-repeat center;
    /*background-size: contain;*/
    background-size: 18vw;
    transition: all 0.3s ease-in-out;
}
.small-content-plates {
    /*background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5)), url('../static/images/smallcontentbarbellbg.jpg');*/
    background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .1)), url('../static/images/colorbumpers.jpeg') no-repeat bottom center;
    background-size: cover;
}
.small-content-rower:hover {
    background: url('../static/images/concept2-rowerg-h_1_1.jpg') no-repeat center;
    /*background-size: contain;    */
    background-size: 18vw;
    transition: all 0.3s ease-in-out;
}
.small-content-rower {
    background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .1)), url('../static/images/concept2-rowerg-h_1_1.jpg') no-repeat bottom center;
    background-size: contain;
}
.freeze {
    height: 100vh;
    width: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
}
.title-small-content{
    padding: 2px 2rem;
    font-size: 1.5rem;
    position: absolute;
    z-index: 1;
}
.title-small-content:hover {
}

.title-small-content::before {
    left: -0.25rem;
    content: '';
    position: absolute;
    background-color: red;
    height: 105%;
    z-index: -1;
    width: 10rem;
    border-radius: 3px;
}
.title-small-content:hover::before {
    /*content: 'VER';*/
    /*z-index: 0;*/
}

/*notice styling*/
